.thing {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.dark {
  background-color: #2c0663;
  color: #b4fa50;
}

.light {
  background-color: #fffffe;
  color: #2c0663;
}

.sizeUp {
  font-size: 120%;
}

.fontReadable {
  font: "Helvetica Neue", sans-serif;
}

.reportform input{
  width: 60%;
  height: 40px;
}

.casecard{
  border: 2px;
  border-style: inset;
}
