.dark {
  background-color: #1d2e4c;
  color: #e5d4b6;
}

.light {
  background-color: #e5d4b6;
  color: #1d2e4c;
}

.sizeUp {
  font-size: 120px;
}

.fontReadable {
  font: Helvetica;
}

.reportform input{
width: 60%;
height: 40px;
}
